
/* flex container properties */
ul{
    border: 1px solid red;
    padding: 0;
    list-style: none; 
    background-color: #e8e8e9;
     /* justify-content: flex-start;  */
    /* align-items: flex-start; */
    display: flex;
     height: 500px; 
}
/* relative flex */
 /* li {
    flex: auto;
}  */

/* absolute flex */

 li {
    flex: 1;
} 


 li:nth-child(1) { 
     background-color: #3c74e1;
}
li:nth-child(2) {
    background-color: #8cacea;
}
/* li:first-of-type{
    background-color: gray;
    align-self: flex-end;
}  */
